{% extends 'base.html.twig' %}

{% block title %}{{randonnee.nomRandonnee}}{% endblock %}

{% block body %}
<main>
    <div class='ficheActivite__title d-flex justify-content-between mt-5 mb-3'>
        <h1>{{randonnee.nomRandonnee}}</h1> 
    </div>  

        <section class='ficheActivite'>                  

            <h2>Description</h2>
                <ul>
                    <li>Ville de départ: {{randonnee.villeRandonnee}}</li>                         
                    <li>Coordonnées du point de départ: {{randonnee.geopointRandonnee}}</li>                         
                </ul>

            <h2>Parcours</h2>
            
            <div id='map'></div>
            <div class='data-map' data-coordinates='{{randonnee.geometryRandonnee|json_encode}}'></div>

             
 <button class='btn btnRetourActivite mt-3'><a href='{{ path('app_dashboard') }}'> Retour </a></button> 
    </section>
    

</main>
{% endblock %}
