{% extends 'base.html.twig' %}

{% block title %}{{randonnee.nomRandonnee}}{% endblock %}

{% block body %}
<main>
    <div class='ficheActivite__title d-flex justify-content-between mt-5 mb-3'>
        <h1>{{randonnee.nomRandonnee}}</h1> 
    </div>  

        <section class='ficheActivite'>                  

            <h2>Description</h2>

                    <p> &#127968 Ville de départ: {{randonnee.villeRandonnee}}<p>                         
                    <p> &#129517 Coordonnées du point de départ: {{randonnee.geopointRandonnee}}<p>                         
                    <p> &#129406 Distance du parcours : <span class='distanceRandonneText'></span> km</p>                         


            <h2>Parcours</h2>
            
            <div id='map'></div>
            <div class='data-map' data-coordinates='{{randonnee.geometryRandonnee|json_encode}}'></div>

             
 <button class='btn btnRetourActivite mt-3'><a href='{{ path('app_dashboard') }}'> Retour </a></button> 
    </section>
    

</main>
{% endblock %}
