{% extends 'base.html.twig' %}

{% block body %}
{# {% block stylesheets %}
    <link rel="styles" type="scss"/>
{% endblock %} #}
{# /* <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> */ #}

<div class="flex-container">
    <h2 class="page-title">Formulaire d’inscription</h1>
    <div class="inscription-form col">
        {{ form_start(form_adresse_inscription) }}
            {% for client in form_adresse_inscription.clients %}
            <div class="inscription-form-row">
                {{ form_row(client.prenomClient) }}
                {{ form_row(client.nomClient) }}
            </div>
            <div class="inscription-form-row">
                {{ form_row(client.email) }}
                {{ form_row(client.telephoneClient) }}
            </div>
            {% endfor %}
            <div class="inscription-form-row">
                <div class="inscription-form-row-nr">
                    {{ form_row(form_adresse_inscription.numeroAdresse) }}
                </div>
                    {{ form_row(form_adresse_inscription.rueAdresse) }}
            </div>
            <div class="inscription-form-row">
                <div class="inscription-form-row-nr">
                    {{ form_row(form_adresse_inscription.codePostalAdresse) }}
                </div>
                <div class="inscription-form-row-address">
                    {{ form_row(form_adresse_inscription.villeAdresse) }}
                </div>
            </div>
            <div class="inscription-form-row">
                {% for client in form_adresse_inscription.clients %}
                    {{ form_row(client.password) }}
                {% endfor %}
            </div>

        {{ form_end(form_adresse_inscription) }}
    </div>
    <div class="privacy-policy">
        <p>En cliquant sur inscription, vous acceptez les conditions d'utilisation de BeFree.<br>
        Pour en savoir plus sur la manière dont BeFree collecte, utilise, partage et protège vos données personnelles, veuillez consulter la Politique de confidentialité de BeFree.</p>
    </div>
</div>
{# {{ dump(adresse) }} #}
{% endblock %}
