{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
    <div class="container w-50 p-0">
        <h1  class="mt-5 mb-3 textDashboardColor text-start">Formulaire d’inscription</h1>
    </div>
    <div class="background-clear container w-50 p-5 m-auto">
    {% form_theme form_adresse_inscription 'bootstrap_5_layout.html.twig' %}
        {{ form_start(form_adresse_inscription) }}

            {% for client in form_adresse_inscription.clients %}
            <div class="row container">
                <div class="col-6 d-flex flex-column">
                    {{ form_label(client.prenomClient) }}
                    {{ form_widget(client.prenomClient, {'attr': {'placeholder': 'ex. Pierre'}}) }}
                </div>
                <div class="col-6 d-flex flex-column">
                    {{ form_label(client.nomClient) }}
                    {{ form_widget(client.nomClient, {'attr': {'placeholder': 'ex. Dupont'}}) }}
                </div>
            </div>
            <div class="row container">
                <div class="col-6 d-flex flex-column">
                    {{ form_label(client.email) }}
                    {{ form_widget(client.email, {'attr': {'placeholder': 'ex. pierre@gmail.com'}}) }}
                </div>
                <div class="col-6 d-flex flex-column">
                    {{ form_label(client.telephoneClient) }}
                    {{ form_widget(client.telephoneClient, {'attr': {'placeholder': 'ex. 0781963214'}}) }}
                </div>
            </div>
            {% endfor %}

            <div class="row container">
                <div class="col-4 d-flex flex-column">
                    {{ form_label(form_adresse_inscription.numeroAdresse) }}
                    {{ form_widget(form_adresse_inscription.numeroAdresse, {'attr': {'placeholder': 'ex. 170'}}) }}
                </div>
                <div class="col-8 d-flex flex-column">
                    {{ form_label(form_adresse_inscription.rueAdresse) }}
                    {{ form_widget(form_adresse_inscription.rueAdresse, {'attr': {'placeholder': 'ex. Rue Raimon de Trencavel'}}) }}
                </div>
            </div>

            <div class="row container">
                <div class="col-4 d-flex flex-column">
                    {{ form_label(form_adresse_inscription.codePostalAdresse) }}
                    {{ form_widget(form_adresse_inscription.codePostalAdresse, {'attr': {'placeholder': 'ex. 34070'}}) }}
                </div>
                <div class="col-8 d-flex flex-column">
                    {{ form_label(form_adresse_inscription.villeAdresse) }}
                    {{ form_widget(form_adresse_inscription.villeAdresse, {'attr': {'placeholder': 'ex. Montpellier'}}) }}
                </div>
            </div>

            <div class="row container">
                {% for client in form_adresse_inscription.clients %}
                    <div class="col-12 d-flex flex-column">
                        {{ form_row(client.selectedOffre) }}
                    </div>
                    <div class="col-12 d-flex flex-column">
                        {{ form_row(client.password) }}
                    </div>
                {% endfor %}
            </div>

        {{ form_end(form_adresse_inscription) }}
        <div class="privacy-policy">
            <p>En cliquant sur inscription, vous acceptez les conditions d'utilisation de BeFree.<br>
            Pour en savoir plus sur la manière dont BeFree collecte, utilise, partage et protège vos données personnelles, veuillez consulter la Politique de confidentialité de BeFree.</p>
        </div>
    </div>
</main>

{% endblock %}
