{% extends 'base.html.twig' %}

{% block title %}Toutes les inscriptions{% endblock %}

{% block body %}


<main class='container'>


<h1 class="mb-2 textDashboardColor mt-5 mb-3">Les prochaines inscriptions: </h1>
 <div class=" p-3 my-4 containerDashboardColor container">
    <div class=" row container justify-content-between align-items-center ContainerInscription ms-1">

    {% for activity in activities %}
        {% if activity.afficherActivite is same as true and "now"|date('Y-m-d') < activity.dateActivite|date('Y-m-d') and activity.activiteOffre.id is same as offer.offres.id %}
            {% if activity.id in nextActivitesInscriptions %}               
                <div class="card mb-3 p-3 my-3 cardBackground" style="">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/activite/{{ activity.activiteImage }}" class="card-img-top" alt="Image _Inscription">                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title cardText">{{ activity.nomActivite}}</h3>
                            <small class='cardText'>{{' le ' ~ activity.dateActivite|format_datetime('long', 'short', locale='fr') }}</small>
                            <p class="card-text cardText">{{activity.descriptionActivite|striptags}}</p>
                            <a href='{{ path('app_fiche_activite', { id: activity.id }) }}' class="text-center mb-3 text-decoration-none cardLink">Voir plus</a>

                        </div>
                        </div>
                    </div>
                </div>  
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
</div>




    

</main>
{% endblock %}
