{% extends 'base.html.twig' %}

{% block title %}{{activite.nomActivite}}{% endblock %}

{% block body %}


<main>
<div class='ficheActivite__title d-flex justify-content-between mt-5 mb-3'>
    <h1>{{activite.nomActivite}}</h1>
    {% if isRegister == null %}    
        {% if placesRestantes > 0 %}
            <a href='{{ path('app_inscription_activite', { id: activite.id }) }}' class='btn btn-warning'>Je m'inscris</a>
        {% else %}
            <p>Il ne reste plus de place disponible pour cette activité</p>
        {% endif %}
    {% else %}
        <p>Vous etes déjà inscris à cette activité!</p>
        <a href='{{ path('app_desinscription_activite', { id: activite.id }) }}' class='btn btn-danger'>Me désinscrire</a>
    {% endif %}
</div>  

    <section class='ficheActivite'>

        <ul>
        <li>{{activite.dateActivite|format_datetime(pattern="eeee d MMMM y", locale='fr')}}</li>
        <li>Places restantes: {{activite.placeMaximum}}</li>
        </ul>

        <h2>Description</h2>
        <p>{{activite.descriptionActivite}}</p>

    </section>
    

</main>
{% endblock %}
