{% extends 'base.html.twig' %}

{% block title %}{{activite.nomActivite}}{% endblock %}

{% block body %}


<main class='container'>
<div class='ficheActivite__title d-flex justify-content-between mt-5 mb-3'>
    <h1>{{activite.nomActivite}}</h1>
    
</div>  

    <section class='ficheActivite'>
    <div class="container d-flex align-items-center" >
        <img src="../img/activite/{{ activite.activiteImage }}" class="w-100" alt="Image _Activite">
        <div class="container d-flex flex-column align-items-center" >
            <p>&#128197 {{activite.dateActivite|format_datetime(pattern="eeee d MMMM y", locale='fr')}}</p>
            <p>&#8987 Places restantes: {{activite.placeMaximum}}</p>
            &#128214{{activite.descriptionActivite|striptags}}
            <div class='d-flex mt-4'>    
            {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_ACCOMPAGNATEUR')%}
                {% if isRegister == null %}    
                    {% if placesRestantes > 0 %}
                    <a href='{{ path('app_inscription_activite', { id: activite.id }) }}' class='btn btn-warning'>Je m'inscris</a>
                    {% else %}
                    <p>Il ne reste plus de place disponible pour cette activité</p>
                    {% endif %}
                {% else %}
                    <p>Vous etes déjà inscris à cette activité!</p></div>
                    <div>
                    <a href='{{ path('app_desinscription_activite', { id: activite.id }) }}' class='btn btn-danger'>Me désinscrire</a>
                <button class='btn btnRetourActivite ms-3'><a href='{{ path('app_dashboard') }}'> Retour </a></button> 
                {% endif %}
            {% endif %}
            </div>  
        </div>
    </div>
    </section>
    

</main>
{% endblock %}
