{% extends 'base.html.twig' %}

{% block title %}Mon tableau de bord{% endblock %}

{% block body %}


    <h1 class="mt-5 mb-3 textDashboardColor titleWidthDashboardColor text-start">Mon tableau de bord</h1>

    <div class="row col-8 p-4 my-4 containerDashboardColor">
    <h2 class="mb-2 textDashboardColor">Mes activités à venir : </h2>

        {% for activity in activities %}
            {% if activity.activiteRandonnee is same as null and activity.afficherActivite is same as true %}
            <div class="col-4 my-2">
                <div class="card h-100 cardBackground">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="card-img-top" alt="Image _Activite_1">
                    <div class="p-3">
                        <small class="text-muted">{{ activity.nomActivite ~ ' le ' ~ activity.dateActivite|format_datetime('long', 'short', locale='fr') }}</small>
                    </div>
                <a href='{{ path('app_fiche_activite', { id: activity.id }) }}' class='btn btn-primary'>Voir</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

    <div class="row col-8 p-4 my-4 containerDashboardColor">
    <h2 class="mb-2 textDashboardColor">Mes randonnées du mois</h2>
        {% for activity in activities %}
            {% if activity.activiteRandonnee != null and activity.afficherActivite is same as true %}
            <div class="col-4 my-2">
                <div class="card h-100 cardBackground">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Image _Activite_1">
                    <div class="p-3">
                        <small class="text-muted">{{ activity.nomActivite }}</small>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row col-8 p-4 my-4 containerDashboardColor">
    <h2 class="mb-2 textDashboardColor">Les prochaines inscriptions : </h2>
    
        {% for activity in activities %}
            {% if activity.activiteRandonnee is same as null and activity.afficherActivite is same as true and "now"|date('Y-m-d') < activity.dateActivite|date('Y-m-d') %}
            <div class="col-4 my-2">
                <div class="card h-100 cardBackground">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Image _Activite_1">
                    <div class="p-3">
                        <small class="text-muted">{{ activity.nomActivite ~ ' le ' ~ activity.dateActivite|format_datetime('long', 'short', locale='fr') }}</small>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row col-8 p-4 my-4 containerDashboardColor">
    <h2 class="mb-2 textDashboardColor">Historique de mes activités : </h2>
        {% for activity in activities %}
            {% if activity.activiteRandonnee is same as null and "now"|date('Y-m-d') > activity.dateActivite|date('Y-m-d') %}
            <div class="col-4 my-2">
                <div class="card h-100 cardBackground">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Image _Activite_1">
                    <div class="p-3">
                        <small class="text-muted">{{ activity.nomActivite ~ ' le ' ~ activity.dateActivite|format_datetime('long', 'short', locale='fr') }}</small>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
